# Use postgres/postgres for postgres credentials: DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/postgres
version: "3.1"

networks:
  TS-EXPRESS:
    driver: bridge

services:
  postgres:
    container_name: "ts-express-postgres"
    image: postgres:15.2
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - TS-EXPRESS
  redis:
    container_name: "ts-express-redis"
    image: "bitnami/redis:6.0.8"
    environment:
      REDIS_PASSWORD: password123
    ports:
      - 6379:6379
    networks:
      - TS-EXPRESS
