on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - main
name: CI
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Packages
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Run Test Containers
        run: docker compose -f docker-compose.test.yml up -d
      - name: Sleep for 30s
        uses: juliangruber/sleep-action@v1
        with:
          time: 30s
      - name: Test
        run: export DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/postgres && npm run test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
